<a name="#top"></a>
<div class="headline">
  <h1 class="title">Great Kids Farm</h1>
  <h2>Physical Needs Assessment Report of Findings</h2>
  <a name="acknowledgements"></a><h3>Created by Jim Conlon CPHC, LEED Green Rater</h3>
  <h3>September 10, 2015</h3>
</div>

<%= render 'acknowledgement' %>
<%= render 'executive_summary' %>
<a name="images"></a><h1>Images</h1>
<ul class="bxslider">
   <% @images.each do |image| %>
   <%= image_tag "slider/#{image.split('/').last}" %>
 <% end %>
</ul>
<%= render 'recommended_improvements' %>
<%= render 'estimated_costs' %>
<%= render 'demonstration_projects' %>